# https://pnpm.io/cli/run#shell-emulator
shell-emulator = true

# https://pnpm.io/cli/run#enable-pre-post-scripts
# enable-pre-post-scripts = true

# Allows local packages to be sub-dependencies of other local packages
# https://pnpm.io/npmrc#link-workspace-packages
link-workspace-packages = deep

# https://pnpm.io/npmrc#dedupe-peer-dependents
# dedupe-peer-dependents = false
